{{range .Files}}
{{range .Services -}}
# {{.Name}}
{{.Description}}
{{range .Methods -}}
## {{.Name}}
 {{.Description}}

**Accepts:** [{{.RequestLongType}}](#{{.RequestLongType | lower | replace "." ""}})

**Returns:** [{{.ResponseLongType}}](#{{.ResponseLongType | lower | replace "." ""}})
{{end}}
{{end}} <!-- end services -->

# Messages
{{range .Messages}}

## {{.LongName}} {: #{{.LongName | lower | replace "." ""}}}
{{.Description}}

{{if .HasFields}}
| Field | Type | Description |
| ----- | ---- | ----------- |
{{range .Fields -}}
	| {{if .IsOneof}}[**oneof**](https://developers.google.com/protocol-buffers/docs/proto3#oneof) {{.OneofDecl}}.{{end}}{{.Name}} | [{{if .IsMap}}map {{else}}{{.Label}} {{end}}{{.LongType}}](#{{.LongType | lower | replace "." ""}}) | {{if .Description}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}{{else}}none{{end}} |
{{end}} <!-- end Fields -->
{{end}} <!-- end HasFields -->
{{end}} <!-- end messages -->

# Enums
{{range .Enums}}

## {{.LongName}} 
{{.Description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
	| {{.Name}} | {{.Number}} | {{if .Description}}{{nobr .Description}}{{else}}none{{end}} |
{{end}}

{{end}} <!-- end Enums -->
{{end}} <!-- end Files -->
