See [verification_001_published.md](./verification_001_published.md)
